*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
  background-color: #fff;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header-logo {
  margin-left: 16px;
}

.menu {
  margin-top: 16px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #001e64;
  transition: all 0.5s;
}

.menu-list-link:hover {
  border-bottom: 1px solid #001e64;
}

.phone {
  margin-right: 43px;
  margin-top: 11px;
}

.header-content {
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -117px;
  min-height: calc(100vh - 50px);
}

.header-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding-top: 150px;
  padding-left: 112px;
  margin-bottom: 20px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  left: 35px;
  top: 55px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
  content: '';
}

.header-content-btn {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 88px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
  transition: all 0.3s;
}

.header-content-btn:hover {
  color: #001e64;
  background-color: #fff;
}

.header-content-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -21px;
}

.header-content-link-activ {
  font-weight: 700;
}

.product {
  padding-top: 100px;
}

.product-inner {
  display: flex;
  justify-content: space-between;
}

.product-name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}

.product-name-item + .product-name-item {
  margin-top: 30px;
}

.product-name-item {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.product-name-item.slick-current {
  font-weight: 700;
  font-size: 36px;

  color: #001e64;
}

.slick-product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slick-product-prev,
.slick-product-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.product-content {
  width: 600px;
}

.product-content-box {
  display: flex;
  justify-content: space-between;
}

.product-content-img {
  object-fit: cover;
}

.product-content-list {
  width: 291px;
}

.product-content-item {
  margin-bottom: 30px;
}

.product-content-item span {
  display: block;
  margin-bottom: 10px;
  color: #001e64;
}

.product-content-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  margin-bottom: 20px;
  padding-top: 20px;
}

.product-content-text {
  margin-bottom: 25px;
}

.product-content-btn {
  display: inline-block;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  text-transform: uppercase;
  padding: 12px 85px;
  background-color: rgba(0, 30, 100, 0);
  border: 1px solid #001e64;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.product-content-btn:hover {
  color: #fff;
  background-color: #001e64;
}

.seafood {
  background-image: url('../images/sefood-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 290px 0 98px;
  margin-bottom: 100px;
}

.seafood-items {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.seafood-item {
  width: 180px;
  min-height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/seafood-icon-decor.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  margin-bottom: 100px;
}

.info-items {
  margin-bottom: 100px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.info-item-title {
  max-width: 490px;
  margin-bottom: 30px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #001e64;
}

.info-item-text {
  max-width: 420px;
  margin-bottom: 20px;
}

.info-item-text-right .info-item-title {
  max-width: 420px;
}

.info-item-text-right .info-item-content {
  margin-right: 180px;
}

.info-blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.info-blockquote-text {
  max-width: 628px;
  margin: 0 auto;
  font-size: 18px;
}

.contacts {
  background-image: url(../images/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 30px;
}

.contacts-box {
  width: 390px;
  margin-left: auto;
  background-color: #fff;
  padding: 33px 0 33px 20px;
}

.contacts-box-text {
  width: 195px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}

.contacts-box-list {
  font-size: 18px;
  line-height: 21px;
}

.contacts-box-item {
  margin-top: 30px;
}

.contacts-box-item span {
  display: block;
}

.footer {
  padding-bottom: 110px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 45px 0 23px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}

.footer-inner .menu {
  padding-bottom: 31px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link path {
  transition: all 0.5s;
}

.footer-social-link:hover path {
  fill: #001e64;
}

.menu-btn {
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 13px 0;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu-btn span {
  display: block;
  height: 4px;
  background-color: #001e64;
}

.menu-btn::after,
.menu-btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #001e64;
}

.menu-btn::after {
  bottom: 0;
}

.menu-btn::before {
  top: 0;
}

@media screen and (max-width: 1160px) {
  .product-name {
    width: 350px;
  }

  .footer .menu,
  .footer-logo {
    display: none;
  }

  .footer {
    padding: 40px 0 40px;
  }

  .footer-inner {
    justify-content: center;
  }

  .footer-social-list {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1100px) {
  .info-item-content {
    padding-right: 20px;
  }

  .info-item-text-right .info-item-content {
    padding-right: 0;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .menu-list {
    position: absolute;
    left: 20%;
    right: 20%;
    top: -350px;
    background-color: #fff;
    display: block;
    transition: all 0.5s;
    z-index: 5;
  }

  .menu-list.menu-list-active {
    top: 64px;
  }

  .menu-btn {
    display: block;
    z-index: 10;
  }

  .menu {
    margin-left: auto;
    margin-top: 12px;
    margin-right: 44px;
  }

  .menu-list-link {
    display: block;
    padding: 20px 0;
    text-align: center;
    /* pointer-events: none; */
  }

  .menu-list-link:hover {
    /* border-bottom: 1px solid #001e64; */
    border: none;
  }

  .product-name {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .info-item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info img {
    max-width: 100%;
  }

  .info-item-text-right {
    flex-wrap: wrap-reverse;
  }

  .info-item-content {
    padding-right: 0;
  }

  .info-item-text-right .info-item-content {
    padding-left: 0;
    margin-right: 0;
  }

  .info-item-title,
  .info-item-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .product-inner {
    display: block;
  }

  .product-content {
    margin: 0 auto;
  }

  .product-name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 80px;
  }

  .product-name-item + .product-name-item {
    margin-top: 0;
  }

  .product-name-item.slick-current {
    line-height: 44px;
  }

  .product-name .slick-dots {
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
  }

  .product-name .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
  }

  .product-name .slick-active button {
    background-color: #001e64;
  }
}

@media screen and (max-width: 745px) {
  .header-title {
    font-size: 50px;
    line-height: 66px;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .product-content {
    width: 100%;
  }

  .seafood {
    display: none;
  }

  .seafood {
    margin-bottom: 50px;
  }

  .info {
    margin-bottom: 50px;
  }

  .info-items {
    margin-bottom: 50px;
  }

  .contacts {
    background-image: none;
  }

  .contacts-box {
    width: 100%;
    margin-left: 0;
    padding: 33px 0 33px 0;
  }
}

@media screen and (max-width: 600px) {
  .product-content-box {
    display: block;
  }

  .product-content-list {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .header-title {
    font-size: 34px;
    line-height: 44px;
  }

  .header-slider {
    padding-left: 50px;
  }

  .slick-dots {
    left: 5px;
  }

  .slick-prev,
  .slick-next {
    left: 9px;
  }

  .header-content-btn {
    margin-left: 50px;
  }

  .product-content-btn {
    padding: 12px 55px;
  }

  .product {
    padding-top: 50px;
  }
}

@media screen and (max-width: 370px) {
  .header-title {
    padding-top: 125px;
  }

  .menu {
    margin-right: 20px;
  }

  .menu-list {
    left: 10%;
    right: 10%;
  }

  .phone {
    margin-right: 0;
  }

  .header-logo {
    margin-left: 0;
  }

  .header-slider {
    padding-top: 0;
    padding-left: 0;
  }

  .header-content-btn {
    margin-left: 0;
  }
}
