*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
  background-color: #fff;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header-logo {
  margin-left: 16px;
}

.menu {
  margin-top: 16px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #001e64;
  transition: all 0.5s;
}

.menu-list-link:hover {
  border-bottom: 1px solid #001e64;
}

.phone {
  margin-right: 43px;
  margin-top: 11px;
}

.header-content {
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -117px;
  min-height: calc(100vh - 50px);
}

.header-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding-top: 150px;
  padding-left: 112px;
  margin-bottom: 20px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  left: 35px;
  top: 55px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
  content: '';
}

.header-content-btn {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 88px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;
}

.header-content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -21px;
}

.header-content-link-activ {
  font-weight: 700;
}
